<div class="flex">
  <h1 class="title">{{ title() }}</h1>
  <div class="flex-search">
    <div class="search-bar" #searchBar>
      <label for="search" #searchLabel>
        <img src="/assets/svg/search.svg" alt="search_SVG" class="svg" />
      </label>
      <input
        type="text"
        class="search-bar-input"
        placeholder="Escribe para buscar..."
        name="search"
        id="search"
        #searchInput
      />
    </div>
    <div class="avatar-wrapper">
      <a [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <div class="user-avatar" [ngStyle]="{ 'background-color': avatarColor }">
          {{ avatarIniciales }}
        </div>
      </a>
    </div>
  </div>
</div>
