.flex {
  height: 100%;
  width: 100%;
  min-height: 9rem;
  max-height: 9rem;
  background-color: #f7f7f7;
  padding: 0rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6eff5;;
}

@media (max-width: 1400px) {
  .flex {
    min-height: 7.5rem;
    max-height: 7.5rem;
    padding: 0rem 2rem;
  }
}

.flex-search {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
@media (max-width: 1400px) {
  .flex-search {
    gap: 1.5rem;
  }
}

input {
  all: unset;
}

.svg_option {
  background-color: #fefffe;
  padding: 1rem;
  border-radius: 25px;
}
@media (max-width: 1400px) {
  .svg_option {
    min-height: 3rem;
  }
}

.svg {
  min-height: 2rem;
  max-height: 2.5rem;
}
@media (max-width: 1400px) {
  .svg {
    min-height: 2rem;
    max-height: 2rem;
  }
}

.title {
  font-size: 2.5rem;
  color: #222223;
}

@media (max-width: 1400px) {
  .title {
    font-size: 2.2rem;
  }
}

.user {
  background-color: #4F4F4F;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b71752;
}
@media (max-width: 1400px) {
  .user {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.user-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 0;
  color: #fefffe;
  font-size: 1.2rem;
}
@media (max-width: 1400px) {
  .user-text {
    font-size: 1.1rem;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fefffe;
  border-radius: 25px;
}
.search-bar label {
  padding: 1rem 0 1rem 2rem;
}
@media (max-width: 1400px) {
  .search-bar label {
    padding: 0.5rem 0 0.5rem 1rem;
  }
}
.search-bar input {
  font-size: 1.2rem;
  padding: 1rem 7rem 1rem 0;
}
@media (max-width: 1400px) {
  .search-bar input,
  .search-bar input::placeholder {
    padding: 0.6rem 3.5rem 0.6rem 0;
  }
}
.search-bar input::placeholder {
  color: #d8d9d8;
}
