<div class="flex">
  <h1 class="title">{{ title() }}</h1>
  <div class="flex-search">
    <div class="search-bar">
      <label for="search">
        <img src="/assets/svg/search.svg" alt="search_SVG" class="svg" />
      </label>
      <input
        type="text"
        class=""
        placeholder="Escribe para buscar..."
        name="search"
        id="search"
      />
    </div>
    <a
      [routerLink]="['/opciones']"
      routerLinkActive="router-link-active"
      class="svg_option"
    >
      <img src="/assets/svg/settings.svg" alt="" class="svg" />
    </a>
    <a
      class="svg-options"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="svg_option"
    >
      <img src="/assets/svg/notification.svg" alt="" class="svg" />
    </a>
    <div>
      <a [routerLink]="['/perfil']" routerLinkActive="router-link-active">
        <div class="user">
          <img
            src="/assets/svg/profile-picture.svg"
            class="user-profile-picture"
            alt=""
          />
        </div>
      </a>
    </div>
  </div>
</div>
