.modal-content {
  background-color: #f7f6f6;
  border-radius: 2rem;
  width: 90%;
  max-width: 55rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.form-group input::placeholder {
  color: #d9d9d9;
}

.form-group select {
  color: #d9d9d9;
}
.form-group .colorSelect {
  color: #474747;
}
.form-group option {
  color: #474747;
}

.width-50 {
  width: 50%;
}
