<div class="flex">
  <h1 class="title">Sucursales</h1>
  <div class="flex-filter-options">

    <div class="flex-select-search">
      <select class="search select-input" name="" id="">
        <option value="">Filtrar por fecha ingreso</option>
      </select>
      <label for=""><img src="/assets/svg/arrow-down.svg" class="svg-arrow-down" alt=""></label>
    </div>

    <div class="flex-select-search">
      <select class="search select-input" name="" id="">
        <option value="">Filtrar por ubicación</option>
      </select>
      <label for=""><img src="/assets/svg/arrow-down.svg" class="svg-arrow-down" alt=""></label>
    </div>


  </div>
</div>
