.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg {
  height: 22px;
}

.option-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 25px;
  gap: 10px;
  background-color: #B71653;
  color: #FFFFFF;
  border-radius: 40px ;
}
.option-button span {
  font-weight: 600;
}
.option-button:hover {
  cursor: pointer;
}
