.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.svg {
  height: 22px;
}

.option-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 25px;
  gap: 10px;
  background-color: #b71653;
  color: #ffffff;
  border-radius: 40px;
}
.option-button span {
  font-weight: 600;
}
.option-button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
  }
}
