<div class="flex">
  <h1 class="title">Sucursales</h1>
  <div class="flex-filter-options">
    <div class="flex-search input">
      <label for="search">
        <img src="/assets/svg/search.svg" alt="search_SVG" class="svg">
      </label>
      <input type="text" class="search" placeholder="Buscar por id" name="search">
    </div>

    <div class="flex-select-search">
      <select class="search select-input" name="" id="">
        <option value="">Filtrar por cliente</option>
      </select>
      <label for=""><img src="/assets/svg/arrow-down.svg" class="svg-arrow-down" alt=""></label>
    </div>

    <div class="flex-select-search">
      <select class="search select-input" name="" id="">
        <option value="">Filtrar por colegio</option>
      </select>
      <label for=""><img src="/assets/svg/arrow-down.svg" class="svg-arrow-down" alt=""></label>
    </div>

    <div class="flex-select-search">
      <select class="search select-input" name="" id="">
        <option value="">Filtrar por dirección</option>
      </select>
      <label for=""><img src="/assets/svg/arrow-down.svg" class="svg-arrow-down" alt=""></label>
    </div>


  </div>
</div>
