<div class="section">
  <sucursal-header [sucursal]="sucursal"></sucursal-header>
  <sucursal-options [estado]="estado" [selectedDevices]="Devices"></sucursal-options>
  <shared-options (optionSelected)="selectedOption($event)"></shared-options>
  <sucursal-table (Devices)="selectedDevices($event)" [equiposRecibidos]="equipos"></sucursal-table>
  <div *ngIf="obtainedEquipments && equipos" class="navegation-section">
    <shared-navegation [paginaActual]="paginaActual"
    [paginas]="paginas"
    (cambiarPagina)="cambiarPagina($event)"></shared-navegation>
  </div>
</div>
