.options-sucursal {
  display: grid;
  align-items: center;
  width: 100%;

}

.filters-sucursal {
  width: 100%;
}

/* Media queries para pantallas medianas */
@media (max-width: 768px) {
  .section {
    padding: 1.5rem;
  }



  .navegation-section {
    margin-top: 1rem;
  }
}

/* Media queries para pantallas pequenas */
@media (max-width: 600px) {
  .section {
    padding: 1rem;
  }

  .filters-sucursal {
    margin-bottom: 0.5rem;
  }
}

/* Media queries para pantallas muy pequenas */
@media (max-width: 500px) {
  .section {
    padding: 0.5rem;
  }


  .navegation-section {
    margin-top: 0.5rem;
  }
}
