.options-sucursal {
  display: grid;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

/* Media queries para pantallas medianas */
@media (max-width: 768px) {
  .section {
    padding: 1.5rem;
  }
  
  .options-sucursal {
    margin-bottom: 0.8rem;
  }
  
  .navegation-section {
    margin-top: 1rem;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .section {
    padding: 1rem;
  }
  
  .options-sucursal {
    margin-bottom: 0.5rem;
  }
  
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 500px) {
  .section {
    padding: 0.5rem;
  }
  
  .options-sucursal {
    margin-bottom: 0.3rem;
  }
  
  .navegation-section {
    margin-top: 0.5rem;
  }
}