<div class="section">
  <sucursal-header
    [sucursal]="sucursal"
    class="header-sucursal"
  ></sucursal-header>
  <sucursal-options
    [cerrarModal]="cerrarModal"
    [estado]="estado"
    [selectedDevices]="Devices"
    (crearEquiposForm)="crearEquipos($event)"
    (borrarEquipos)="eliminarEquiposSeleccionados($event)"
    (exportarEquipos)="exportarEquipos()"
    class="options-sucursal"
  ></sucursal-options>
  <shared-options (optionSelected)="selectedOption($event)"></shared-options>
  <sucursal-equipos-filters
    class="filters-sucursal"
    (filtersChange)="onFiltrosChange($event)"
  ></sucursal-equipos-filters>
  <sucursal-table
    (Devices)="selectedDevices($event)"
    [equiposRecibidos]="equipos"
    [paginaActual]="paginaActual"
    [sucursalId]="sucursal?.id"
    (equipoActualizado)="cambiarSeleccion()"
    (equipoEliminado)="cambiarSeleccion()"
  ></sucursal-table>
  <div *ngIf="obtainedEquipments && equipos" class="navegation-section">
    <shared-navegation
      [paginaActual]="paginaActual"
      [paginas]="paginas"
      (cambiarPagina)="cambiarPagina($event)"
    ></shared-navegation>
  </div>
</div>
