<div class="section client">
  <cliente-casa-matriz [cliente]="cliente"></cliente-casa-matriz>
  <cliente-header [esAdministrador]="esAdministrador" [casaMatrizId]="casaMatrizId" (enviarFormulario)="crearModificarSucursal($event)"></cliente-header>
  <shared-options (optionSelected)="selectedOption($event)"></shared-options>

  @if(!sucursales){
    <div class="loader">
      <div class="spinner-section spinner-size-section"></div>
    </div>
  }
  @else {
    <cliente-sucursales (eliminarForm)="eliminarSucursal($event)" (sucursalForm)="crearModificarSucursal($event)" (indiceTabla)="modificarIndiceTable($event)" [esAdministrador]="esAdministrador" [setSucursales]="sucursales"></cliente-sucursales>
    <div class="navegation-section">
      <shared-navegation [paginaActual]="paginaActual"
      [paginas]="paginas"
      (cambiarPagina)="cambiarPagina($event)"></shared-navegation>
    </div>
  }
</div>
