<div class="section client">
  <cliente-casa-matriz [cliente]="cliente"></cliente-casa-matriz>
  <cliente-header></cliente-header>
  <shared-options (optionSelected)="selectedOption($event)"></shared-options>
  <div class="div-loader">
    @if(loaderService.loadingSection()){
      <div class="loader">
        <shared-loader></shared-loader>
      </div>
    }
    <cliente-sucursales [setSucursales]="sucursales"></cliente-sucursales>
    <div *ngIf="obtainedSucursales && sucursales.length > 0" class="navegation-section" style="margin-top: 10px;">
      <shared-navegation [paginaActual]="paginaActual"
      [paginas]="paginas"
      (cambiarPagina)="cambiarPagina($event)"></shared-navegation>
    </div>
  </div>
</div>
