.client {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.5rem;
  height: auto;
  width: 100%;
}

.div-loader {
  position: relative;
  min-height: 100%;
}

.div-loader-sucursales {
  min-height: 1rem;
}
