.client {
  width: 100%;
}

.loader {
  height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 18px;
}
