<div>
  <div class="modal-overlay" *ngIf="isVisible">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="header-form">Añadir datos: <span class="header-span" *ngIf="headerCharged">{{ this.equipo?.codigoId }} / {{ this.equipo?.tipo }} / {{ this.equipo?.departamento }}</span></h2>
        <img src="/assets/svg/exit-button.svg" (click)="cerrar()" alt="exit_button" class="close-button">
      </div>
      <div class="modal-body" style="position: relative;">
        @if (loaderService.loadingModal()) {
          <div class="loader-height">
            <shared-loader-modal></shared-loader-modal>
          </div>
        }
        <form [formGroup]="equipoForm" (ngSubmit)="onSubmit()">
          <input type="hidden" [value]="this.idEquipo" formControlName="id">
          <div class="grid-form">
            <!-- Campo Departamento -->
            <div *ngFor="let campo of camposDinamicos" class="form-group" [ngClass]="{'full-width': campo.type === 'textarea'}">
              <label [for]="campo.name">{{ campo.label }}</label>
              <!-- Input tipo texto -->
              <input *ngIf="campo.type === 'text'" [placeholder]="campo.placeholder" [id]="campo.name" type="text" [formControlName]="campo.name">

              <!-- Input tipo número -->
              <input *ngIf="campo.type === 'number'" [id]="campo.name" type="number" [formControlName]="campo.name">

              <!-- Input tipo fecha -->
              <input *ngIf="campo.type === 'date'" [id]="campo.name" type="date" [formControlName]="campo.name">

              <!-- Input tipo textarea -->
              <textarea class="comments" *ngIf="campo.type === 'textarea'" [id]="campo.name" [formControlName]="campo.name"></textarea>
            </div>
          </div>

          <!-- Mensaje de Error -->
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>

          <!-- Botones -->
          <div class="form-actions">
            <button type="submit" [disabled]="equipoForm.invalid">Modificar Equipo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


