<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="header-form">{{ tituloModal }}</h2>
      <img src="/assets/svg/exit-button.svg" (click)="cerrar()" alt="exit_button" class="close-button">
    </div>
    <div class="modal-body">
      <p class="description-form">Rellena todos los campos con los datos requeridos. Asegúrate de que la información sea correcta antes de guardar.</p>
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <div class="two-inputs">
          <!-- Campo Rut -->
          <div class="form-group width-50">
            <label for="rut">Rut</label>
            <input class="width-50" formatInputRut id="rut" formControlName="rut" type="text" placeholder="Ingrese el rut" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('rut')?.getError('required') && clientForm.get('rut')?.touched" class="error">
              Rut es requerido
            </div>
            <div *ngIf="clientForm.get('rut')?.getError('invalidRutLength') && clientForm.get('rut')?.touched" class="error">
              Rut ingresado es invalido
            </div>
          </div>

          <!-- Campo Razón Social -->
          <div class="form-group width-50">
            <label for="razonSocial">Razón Social</label>
            <input class="width-50" id="razonSocial" formControlName="razonSocial" type="text" placeholder="Ingresa la razón social" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('razonSocial')?.invalid && clientForm.get('razonSocial')?.touched" class="error">
              Razón Social es requerida
            </div>
          </div>
        </div>

        <div class="two-inputs">
          <!-- Campo Logo -->
          <div class="form-group width-50">
            <label for="imagen">Imagen</label>
            <div class="custom-file-input">
              <div class="imagen-container">
                <p *ngIf="!selectedFile && (!modoEdicion || !cliente?.imagen)" class="imagen-placeholder">Sube el logo o la imagen del cliente</p>
                <p *ngIf="selectedFile" class="imagen-text">Imagen seleccionada</p>
                <p *ngIf="modoEdicion && cliente?.imagen && !selectedFile" class="imagen-text">Imagen actual (click para cambiar)</p>
                <img src="/assets/svg/camera.svg" alt="camera_svg" class="svg">
              </div>
              <input class="inputs" (change)="onFileSelected($event)" type="file" accept="image/*" capture="environment" id="imagen" formControlName="imagen"/>
            </div>
          </div>

          <!-- Campo Encargado General -->
          <div class="form-group width-50">
            <label for="encargadoGeneral">Encargado General</label>
            <input id="encargadoGeneral" formControlName="encargadoGeneral" type="text" placeholder="Ingresa el encargado general" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('encargadoGeneral')?.invalid && clientForm.get('encargadoGeneral')?.touched" class="error">
              Encargado General es requerido
            </div>
          </div>
        </div>

        <div class="two-inputs">
          <!-- Campo Correo -->
          <div class="form-group width-50">
            <label for="correo">Correo Electrónico</label>
            <input id="correo" formControlName="correo" type="email" placeholder="Ingresa el correo electrónico" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('correo')?.invalid && clientForm.get('correo')?.touched" class="error">
              Correo electrónico inválido
            </div>
          </div>

          <!-- Campo Teléfono Encargado -->
          <div class="form-group width-50">
            <label for="telefonoEncargado">Teléfono</label>
            <div class="telefono-container">
              <input class="prefijo-telefono" disabled value="+56">
              <input class="input-telefono" type="text" id="telefonoEncargado" formatInputTelefono formControlName="telefonoEncargado" autocomplete="tel" placeholder="Ingrese el teléfono" formatInputNumber (input)="clientForm.markAsDirty()">
            </div>
            <div *ngIf="clientForm.get('telefonoEncargado')?.hasError('required') && clientForm.get('telefonoEncargado')?.touched" class="error">
              Ingrese un teléfono valido
            </div>
            <div *ngIf="clientForm.get('telefonoEncargado')?.hasError('pattern') && clientForm.get('telefonoEncargado')?.touched && clientForm.get('telefonoEncargado')?.invalid" class="error">
              El teléfono debe contener 9 números
            </div>
          </div>
        </div>

        <div class="two-inputs">
          <!-- Campo Visitas Mensuales -->
          <div class="form-group width-50">
            <label for="visitasMensuales">Visitas mensuales (bitacoras)</label>
            <input id="visitasMensuales" formControlName="visitasMensuales" type="number" min="0" placeholder="Ingresa la cantidad mensual" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('visitasMensuales')?.hasError('required') && clientForm.get('visitasMensuales')?.touched" class="error">
              Ingresa una cantidad de visitas mensuales.
            </div>
            <div *ngIf="clientForm.get('visitasMensuales')?.hasError('min') && clientForm.get('visitasMensuales')?.touched" class="error">
              Ingresa un numero mayor o igual a 0.
            </div>
          </div>

          <!-- Campo Visitas de Emergencia Anuales -->
          <div class="form-group width-50">
            <label for="visitasEmergenciaAnuales">Visitas de emergencia anuales</label>
            <input id="visitasEmergenciaAnuales" formControlName="visitasEmergenciaAnuales" type="number" min="0" placeholder="Ingresa la cantidad anual" (input)="clientForm.markAsDirty()"/>
            <div *ngIf="clientForm.get('visitasEmergenciaAnuales')?.hasError('required') && clientForm.get('visitasEmergenciaAnuales')?.touched" class="error">
              Ingresa una cantidad de visitas de emergencia anuales.
            </div>
            <div *ngIf="clientForm.get('visitasEmergenciaAnuales')?.hasError('min') && clientForm.get('visitasEmergenciaAnuales')?.touched" class="error">
              Ingresa un numero mayor o igual a 0.
            </div>
          </div>
        </div>

        <!-- Mensaje de Error -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <!-- Botones -->
        <div class="form-actions">
          <button *ngIf="!creating" class="btn form-size" type="submit"
            [ngClass]="{'invalid-form': clientForm.invalid, 'valid-form': clientForm.valid }"
            [disabled]="!clientForm.valid || (modoEdicion && !clientForm.dirty && !selectedFile)">
            {{ modoEdicion ? 'Guardar cambios' : 'Añadir cliente' }}
          </button>
          <button *ngIf="creating" class="btn form-size"><div class="spinner-buttons spinner-size-buttons spinner-color"></div></button>
        </div>
      </form>
    </div>
  </div>
</div>
