<div class="dashboard-page">
  <div class="grid-tables">

    <div class="table">
      <p class="table-title">Información 1</p>
      <div class="chart"></div>
      <div class="legend">
        <span>Dato 1</span>
        <span>Dato 2</span>
      </div>
    </div>

    <div class="table">
      <p class="table-title">Información 1</p>
      <div class="chart"></div>
      <div class="legend">
        <span>Dato 1</span>
        <span>Dato 2</span>
      </div>
    </div>

    <div class="table">
      <div class="table-flex-3">
        <div class="chart-3"></div>
        <div class="legend-3">
          <span>Dato 1</span>
          <span>Dato 2</span>
          <span>Dato 3</span>
          <span>Dato 4</span>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="table-grid-4">
        <div>
          <div class="chart-4"></div>
          <span>Ene</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Feb</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Mar</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Abr</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>May</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Jun</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Jul</span>
        </div>
        <div>
          <div class="chart-4"></div>
          <span>Ago</span>
        </div>
      </div>
  </div>
</div>
