<div class="grid-tables">

  <div class="table">
    <h3 class="table-title">Información 1</h3>
    <div class="chart"></div>
    <div class="legend">
      <p>Dato 1</p>
      <p>Dato 2</p>
    </div>
  </div>

  <div class="table">
    <h3 class="table-title">Información 1</h3>
    <div class="chart"></div>
    <div class="legend">
      <p>Dato 1</p>
      <p>Dato 2</p>
    </div>
  </div>

  <div class="table">
    <div class="table-flex-3">
      <div class="chart-3"></div>
      <div class="legend-3">
        <p>Dato 1</p>
        <p>Dato 2</p>
        <p>Dato 3</p>
        <p>Dato 4</p>
      </div>
    </div>
  </div>

  <div class="table">
    <div class="table-grid-4">
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Ene</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Feb</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Mar</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Abr</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">May</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Jun</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Jul</p>
      </div>
      <div>
        <div class="chart-4"></div>
        <p class="p-chart-4">Ago</p>
      </div>
    </div>
</div>
