.estado {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 auto;
}
/* @media (max-width: 1400px) {
  .estado {
  }
} */
.abierto {
  background-color: #1ec6b8;
}
.pendiente {
  background-color: #ffeb4b;
}
.cerrado {
  background-color: #ff4b4a;
}

.height-spinner {
  height: 90px;
}

.actions {
  all: unset;
}
.svg {
  max-height: 2rem;
}
@media (max-width: 1400px) {
  .svg {
    max-height: 1.8rem;
  }
}
.svg-cursor:hover {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.imprimir-etiqueta:hover {
  content: url('/assets/svg/imprimir-etiqueta-hover.svg');
}
.agregar-datos:hover {
  content: url('/assets/svg/agregar-datos-hover.svg');
}
.ver-datos:hover {
  content: url('/assets/svg/ver-datos-hover.svg');
}

input[type="checkbox"] {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
@media (max-width: 1400px) {
  input[type="checkbox"] {
    max-width: 1.25rem;
    max-height: 1.25rem;
  }
}

.no-equipos {
  height: 90px;
}
/* @media (max-width: 1400px) {
  .no-equipos {
  }
} */

.navegation-section {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.col-1 {
  width: 50px;
}
.col-2 {
  width: 40px;
}
.col-3 {
  width: 100px;
}
.col-4 {
  width: 200px;
}
.col-5 {
  width: 330px;
}
.col-6 {
  width: 250px;
}
.col-7 {
  width: 270px;
}
.col-8 {
  width: 110px;
}
.col-9 {
  width: 295px;
}
