.div-loader-equipments {
  position: relative;
}

.div-table {
  background-color: #f7f7f7;
  padding: 0.5rem;
  border-radius: 25px;
  color: #4f4f4f;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.07), 0 1px 20px rgba(0, 0, 0, 0.07);
}

.label-input {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.table {
  width: 100%;
  text-align: center;
  padding: 1.5rem 2rem;
  border-collapse: collapse;
}

.thead-properties {
  text-align: center;
}

.thead-properties th {
  padding: 0.7rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1400px) {
  .thead-properties th {
    font-size: 1rem;
  }
}

.row-border {
  border-top: 1px solid #ebeff3;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}

.estado {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
@media (max-width: 1400px) {
  .estado {
    width: 1.1rem;
    height: 1.1rem;
  }
}
.cerrado {
  margin: 0 auto;
  background-color: #ff4b4a;
}
.abierto {
  margin: 0 auto;
  background-color: #1ec6b8;
}

.information-checkbox {
  max-width: 3.5rem;
}
.information-value {
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1400px) {
  .information-value {
    font-size: 1rem;
  }
}

.information-actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 1400px) {
  .information-actions {
    gap: 1rem;
  }
}

.actions {
  all: unset;
}
.actions:hover {
  cursor: pointer;
}
.svg {
  max-height: 2.5rem;
}
@media (max-width: 1400px) {
  .svg {
    max-height: 1.8rem;
  }
}

input[type="checkbox"] {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
@media (max-width: 1400px) {
  input[type="checkbox"] {
    max-width: 1.25rem;
    max-height: 1.25rem;
  }
}

.no-equipos {
  padding: 2rem 0;
}
@media (max-width: 1400px) {
  .no-equipos {
    font-size: 1.2rem;
  }
}

.navegation-section {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
