<div class="div-loader-equipments">

  <img style="display: none" src="/assets/svg/imprimir-etiqueta-hover.svg" />

  <img style="display: none" src="/assets/svg/agregar-datos-hover.svg" />

  <img style="display: none" src="/assets/svg/delete-hover.svg" />

  <div *ngIf="obtainedEquipments" class="div-table">

    <table class="table">

      <thead>

        <tr class="thead-properties">

          <th class="col-1" *ngIf="!esCliente">

            <input

              id="allDevices"

              [checked]="checkboxSeleccionado()"

              type="checkbox"

              (click)="seleccionarTodo($event)"

            />

          </th>

          <th class="col-2">N°</th>

          <th class="col-3">Estado</th>

          <th class="col-4">Codigo ID</th>

          <th class="col-5">Tipo equipo</th>

          <th class="col-6">Fecha de ingreso</th>

          <th class="col-7">Departamento</th>

          <th class="col-8">Usuario</th>

          <th class="col-9">Acciones</th>

        </tr>

      </thead>



      <tbody *ngIf="equipos === undefined || equipos === null">

        <tr>

          <td [attr.colspan]="esCliente ? 8 : 9" class="height-spinner">

            <div class="spinner-section spinner-size-section"></div>

          </td>

        </tr>

      </tbody>



      <tbody *ngIf="equipos && equipos.length > 0">

        <tr

          *ngFor="let equipo of equipos; let i = index"

          class="row-border"

        >

          <td class="information-checkbox information-value" *ngIf="!esCliente">\r\n\n            <input

              type="checkbox"

              (change)="seleccionarEquipo(equipo, equipo.codigoId, i)"

            />

          </td>

          <td class="information-checkbox information-value">

            {{ parseInt(equipo.codigoId.slice(-3)) }}

          </td>


          <td class="information-value">

            <div

              [ngClass]="

                equipo.estado === 1

                  ? 'abierto'

                  : equipo.estado === 2

                  ? 'pendiente'

                  : 'cerrado'

              "

              class="estado"

              [title]="getNombreEstado(equipo.estado)"

            ></div>

          </td>

          <td class="information-value">{{ equipo.codigoId }}</td>

          <td class="information-value">{{ equipo.tipoEquipo.name }}</td>

          <td class="information-value">

            {{ equipo.fechaIngreso.toString() | formatoFecha }}

          </td>

          <td class="information-value">{{ equipo.departamento }}</td>

          <td class="information-value">

            {{ equipo.usuario ? equipo.usuario : "N/A" }}

          </td>



          <td class="information-value information-actions">
            <ng-container *ngIf="!esCliente">
              <button class="actions">
                <img
                  src="/assets/svg/imprimir-etiqueta.svg"
                  class="svg-cursor svg imprimir-etiqueta"
                  alt="imprimir-etiqueta.svg"
                />
              </button>
              <button
                (click)="abrirModal(equipo.id)"
                class="actions"
              >
                <img
                  src="/assets/svg/agregar-datos.svg"
                  class="svg-cursor agregar-datos svg"
                  alt="agregar-datos.svg"
                />
              </button>
              <button class="actions" (click)="eliminarEquipo(equipo.id)">
                <img
                  src="/assets/svg/delete.svg"
                  class="svg-cursor svg eliminar-equipo"
                  alt="eliminar-equipo.svg"
                />
              </button>
            </ng-container>
            <button class="actions" (click)="abrirModalVer(equipo.id, i)">
              <img [src]="'/assets/svg/ver-datos.svg' " [ngClass]="{'svg-cursor ver-datos': equipo.estado === 3}" class="svg" alt="ver-datos.svg">
            </button>
          </td>

        </tr>

      </tbody>



      <tbody *ngIf="equipos && equipos.length === 0">

        <tr>

          <td [attr.colspan]="esCliente ? 8 : 9" class="no-equipos">No hay equipos registrados</td>

        </tr>

      </tbody>

    </table>

  </div>

</div>



<shared-modificar-equipo

  class="form-crear-cliente"

  *ngIf="isModalVisible"

  [idEquipo]="selectedEquipoId"

  (enviarFormulario)="modificarEquipo($event)"

  (cerrarModal)="cerrarModal()"

  (equipoActualizado)="actualizarTabla()"

></shared-modificar-equipo>



<shared-ver-informacion

  *ngIf="isModalVerInfo"

  [idEquipo]="selectedEquipoId"

  [Equipo]="equipo"

  (enviarFormulario)="modificarEquipo($event)"

  (cerrarModal)="cerrarModalVerInfo()"

>

</shared-ver-informacion>









