.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
}

.menu-container {
  position: relative;
  flex-shrink: 0;
  min-width: 20rem;
  max-width: 20rem;
  background-color: #f7f7f7;
}

/* @media (max-width: 1400) {
  p {
  }
} */

@media (max-width: 1400px) {
  .menu-container {
    min-width: 14rem;
    max-width: 14rem;
  }
}

@media (max-width: 1100px) {
  .menu-container {
    min-width: 3rem;
    max-width: 3rem;
  }
}

.content {
  flex-grow: 1;
  overflow-x: auto;
}

/* Login Page */
.login-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}
