<section *ngIf="obtainedSucursales && sucursales.length > 0; else noSucursales" class="sucursales">
  <div *ngFor="let sucursal of sucursales" class="sucursal">
    <!-- Estado Sucursal -->
    <div class="sucursal-campo sucursal-campo-estado">
      <h3 class="table-title">Estado</h3>
      <div class="estado" [ngClass]="sucursal.estado === 1 ? 'abierto' :
                      sucursal.estado === 2 ? 'pendiente' :
                      'cerrado'"></div>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Sucursal</h3>
      <p>{{ sucursal.sucursal }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Dirección</h3>
      <p>{{ sucursal.direccion }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Fecha ingreso</h3>
      <p>{{ sucursal.fechaIngreso.toString() | formatoFecha }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Cantidad equipos</h3>
      <p>{{ sucursal.equiposCount}} equipos registrados</p>
    </div>
    <div class="div-button">
      <a [routerLink]="['/clientes', sucursal.casaMatrizId ,'sucursal', sucursal.id]" routerLinkActive="router-link-active" class="button">Seleccionar sucursal</a>
    </div>
  </div>
</section>

<div *ngIf="obtainedSucursales && sucursales.length > 0" class="navegation-section">
  <shared-navegation [paginaActual]="paginaActual"
  [paginas]="paginas"
  (cambiarPagina)="cambiarPagina($event)"></shared-navegation>
</div>

<ng-template #noSucursales>
  <p class="no-sucursales">No hay sucursales registradas</p>
</ng-template>
