<section *ngIf="obtainedSucursales && sucursales; else noSucursales" class="sucursales">
  <div *ngFor="let sucursal of sucursales" class="sucursal">
    <!-- Estado Sucursal -->
    <div class="sucursal-campo sucursal-campo-estado">
      <h1 class="table-title">Estado</h1>
      <div [ngClass]="sucursal.habilitado ? 'estado abierto' : 'estado cerrado'"></div>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h1 class="table-title">Sucursal</h1>
      <p>{{ sucursal.sucursal }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h1 class="table-title">Dirección</h1>
      <p>{{ sucursal.direccion }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h1 class="table-title">Fecha ingreso</h1>
      <p>{{ sucursal.fechaIngreso.toString() | formatoFecha }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h1 class="table-title">Cantidad equipos</h1>
      <p>50 equipos registrados</p>
    </div>
    <div class="div-button">
      <a [routerLink]="['/sucursal', sucursal.id]" routerLinkActive="router-link-active" class="button">Seleccionar sucursal</a>
    </div>
  </div>
</section>

<div *ngIf="obtainedSucursales" class="navegation">
  <shared-navegation [paginaActual]="paginaActual"
  [paginas]="paginas"
  (cambiarPagina)="cambiarPagina($event)"></shared-navegation>
</div>

<ng-template #noSucursales>
  <tr>
    <td colspan="8" class="no-equipos">No hay sucursales registradas</td>
  </tr>
</ng-template>
