<section *ngIf="sucursales && sucursales.length > 0; else noSucursales" class="sucursales">
  <div *ngFor="let sucursal of sucursales; let i = index;" class="sucursal">
    <!-- Estado Sucursal -->
    <div class="sucursal-campo sucursal-campo-estado">
      <h3 class="table-title">Estado</h3>
      <div class="estado" 
           [ngClass]="sucursal.estado === 1 ? 'abierto' :
                     sucursal.estado === 2 ? 'pendiente' :
                     'cerrado'"
           [title]="getNombreEstado(sucursal.estado)">
      </div>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Sucursal</h3>
      <p>{{ sucursal.sucursal }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Dirección</h3>
      <p>{{ sucursal.direccion }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Fecha ingreso</h3>
      <p>{{ sucursal.fechaIngreso.toString() | formatoFecha }}</p>
    </div>
    <!-- Nombre Sucursal -->
    <div class="sucursal-campo sucursal-campo-texto">
      <h3 class="table-title">Cantidad equipos</h3>
      <p>{{ sucursal.equiposCount}} equipos registrados</p>
    </div>
    <div class="div-button">
      <div class="button-container">
        <a [routerLink]="['/clientes', sucursal.casaMatrizId ,'sucursal', sucursal.id]" routerLinkActive="router-link-active" class="button">Seleccionar sucursal</a>
        <button class="button-ajustes" (click)="abrirModalAjustesSucursal(i)">
          <img *ngIf="esAdministrador" src="/assets/svg/ajustes.svg" alt="ajustes.svg" class="svg-ajustes-sucursal">
        </button>
      </div>
    </div>
  </div>
</section>

<ng-template #noSucursales>
  <p class="no-sucursales">No hay sucursales registradas</p>
</ng-template>

<shared-opciones-sucursal
*ngIf="isModalVisibleAjustesSucursal"
[idSucursal]="idSucursal"
[sucursal]="selectedSucursal"
(cerrarModal)="cerrarModalAjustesSucursal()"
(enviarFormulario)="eliminarSucursal($event)"
(abrirModificar)="abrirModModal($event)">
</shared-opciones-sucursal>

<shared-crear-modificar-sucursal
*ngIf="isModalVisibleModificarSucursal"
[idSucursal]="idSucursal"
[sucursal]="selectedSucursal"
(enviarFormulario)="enviarSucursal($event)"
(cerrarModal)="cerrarModalEditarSucursal()">
</shared-crear-modificar-sucursal>
