.sucursales {
  display: flex;
  height: 70px;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
}

.sucursal {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 7% repeat(2, 22%) repeat(2, 12%) 15%;
  gap: 1rem;
  min-width: 100%;
  min-height: 8rem;
  justify-content: space-between;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  border-radius: 18px;
  padding: 0 2rem;
}
@media (max-width: 1400px) {
  .sucursal {
    box-sizing: border-box;
    grid-template-columns: 7% 15% 16% 12% 16% 18%;
    min-height: 7.5rem;
  }
}

.sucursal-campo {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 0.8rem;
}

.sucursal-campo h3 {
  font-weight: 500;
  font-size: 1.3rem;
}
/* @media (max-width: 1400px) {
  .sucursal-campo h3 {
  }
} */

.sucursal-campo-estado {
  align-items: center;
}

.sucursal-campo-texto {
  align-items: start;
}

.sucursal-campo p {
  min-width: 100%;
  margin: 0;
  color: #BF719B;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* @media (max-width: 1400px) {
  .sucursal-campo p {
  }
} */

.estado {
  margin-top: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
/* @media (max-width: 1400px) {
  .estado {
  }
} */

.abierto {
  background-color: #1EC6B8;
}
.pendiente {
  background-color: #FFEA4A;
}
.cerrado {
  background-color: #FF4B4A;
}

.div-button {
  margin: auto 0 auto auto;
}

.button {
  white-space: nowrap;
  padding: 0.75rem 2rem;
  border: 1px solid #4e4f4e;
  text-align: center;
  margin-top: 0.8rem;
  border-radius: 25px;
  color: #4e4f4e;
  transition: 350ms;
}
@media (max-width: 1400px) {
  .button {
    padding: 0.45rem 1rem;
  }
}
.button:hover {
 cursor: pointer;
 background-color: #b71752;
 color: #f7f7f7;
}

.navegation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-no-equipos {
  width: 100%;
}

.no-sucursales {
  margin-left: 4rem;
  color: #4e4f4e;
}
@media (max-width: 1400px) {
  .no-sucursales {
    font-size: 1.4rem;
  }
}
