<div class="options">
  <button (click)="changeDesign('Todos los ingresos')" class="color-button" [ngClass]="{'options-buttons-border': Option === 'Todos los ingresos' }">Todos los usuarios</button>
  <button (click)="changeDesign('Pendientes')" class="color-button" [ngClass]="{'options-buttons-border': Option === 'Pendientes' }">Clientes</button>
  <button (click)="changeDesign('Técnico de soporte')" class="color-button" [ngClass]="{'options-buttons-border': Option === 'Técnico de soporte' }">Técnico de soporte</button>
  <button (click)="changeDesign('Mesa de ayuda')" class="color-button" [ngClass]="{'options-buttons-border': Option === 'Mesa de ayuda' }">Mesa de ayuda</button>
  <button (click)="changeDesign('Administrador')" class="color-button" [ngClass]="{'options-buttons-border': Option === 'Administrador' }">Administrador</button>
</div>
