<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Buscar por nombre..."
    [value]="searchTerm"
    (input)="onSearchInput($event)"
    (keyup.enter)="onSearch()"
  />
  <button type="button" class="search-button" (click)="onSearch()">
    <img src="/assets/svg/search.svg" alt="Buscar" class="search-icon" />
  </button>
  <button
    *ngIf="searchTerm"
    type="button"
    class="clear-button"
    (click)="onClear()"
  >
    ✕
  </button>
</div>
