<div class="responsive-container">
  <div class="users-table">
    <table class="table">
      <thead>
          <tr class="thead-properties">
            <th class="col-1"><input type="checkbox"></th>
            <th class="col-2">ID</th>
            <th class="col-3">Nombre</th>
            <th class="col-4">Correo</th>
            <th class="col-5">Rol</th>
            <th class="col-6">Estado</th>
            <th class="col-7">Acciones</th>
          </tr>
      </thead>
      <tbody *ngIf="cuentas === undefined || cuentas === null">
        <tr class="row-border">
          <td colspan="9" class="height-spinner"><div class="spinner-section spinner-size-section"></div></td>
        </tr>
      </tbody>
      <tbody *ngIf="cuentas && cuentas.length > 0">
          <tr *ngFor="let cuenta of cuentas; let i = index" class="row-border">
              <td class="information-checkbox row-table"><input type="checkbox"></td>
              <td class="row-table">{{ cuenta.id }}</td>
              <td class="row-table">{{ cuenta.name }}</td>
              <td class="row-table">{{ cuenta.email }}</td>
              <td class="row-table">{{ cuenta.tipoCuenta.name }}</td>
              <td class="row-table"><div class="estadoCuenta" [ngClass]="{ 'activo': cuenta.estadoCuentaId === 1, 'inactivo': cuenta.estadoCuentaId === 2, 'suspendido': cuenta.estadoCuentaId === 3 }">{{ cuenta.estadoCuenta.name }}</div></td>
              <td class="information-actions row-table">
                  <button class="actions pointer">
                    <img src="/assets/svg/ver-datos.svg" class="svg ver-datos" alt="ver-datos.svg">
                  </button>
                  <button [disabled]="idAdministrador === cuenta.id" class="actions pointer" [ngClass]="{'disabled-button': idAdministrador === cuenta.id}">
                    <img src="/assets/svg/edit-user.svg" (click)="idAdministrador !== cuenta.id && abrirModalModificarUsuario(i)"  [ngClass]="{'disabled-icon': idAdministrador === cuenta.id}" class="svg edit-user" alt="edit-user.svg">
                  </button>
                  <button [disabled]="idAdministrador === cuenta.id" class="actions pointer" [ngClass]="{'disabled-button': idAdministrador === cuenta.id}">
                    <img src="/assets/svg/delete.svg" (click)="idAdministrador !== cuenta.id && abrirModalEliminarUsuario(i)" class="svg delete" [ngClass]="{'disabled-icon': idAdministrador === cuenta.id}" alt="delete.svg">
                  </button>
              </td>
          </tr>
      </tbody>

      <tbody *ngIf="cuentas && cuentas.length === 0">
        <tr class="row-border">
          <td class="height-spinner" colspan="9">No hay usuarios registrados</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<shared-modificar-usuario class="size-modal"
*ngIf="isModalVisibleModificarUsuario"
[usuario]="selectedUser"
(cerrarModal)="cerrarModalModificarUsuario()"
(enviarFormulario)="modificarUsuario($event)"
></shared-modificar-usuario>

<shared-eliminar-usuario class="size-modal"
*ngIf="isModalVisibleEliminarUsuario"
[idUsuario]="indiceSelectedUser"
[usuario]="selectedUser"
(cerrarModal)="cerrarModalEliminarUsuario()"
(enviarFormulario)="eliminarUsuario($event)"
(abrirModificar)="abrirModModal($event)"
></shared-eliminar-usuario>
