.options {
  display: flex;
  border-bottom: 1px solid #ebeef2;
}
.options button {
  padding: 1rem 4rem;
  position: relative;
}
.options button:hover {
  cursor: pointer;
}

.color-button {
  all: unset;
  color: #d0d0d0;
}

.options-buttons-border {
  color: #b71653;
}

.options-buttons-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: #b71653;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
