.options {
  display: flex;
  border-bottom: 1px solid #ebeef2;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}
.options button {
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem 4rem;
  position: relative;
  white-space: nowrap; /* Prevent text wrapping */
}
.options button:hover {
  cursor: pointer;
}

.color-button {
  all: unset;
  color: #d0d0d0;
}

.options-buttons-border {
  color: #b71653;
}

.options-buttons-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: #b71653;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 800px) {
  .options {
    justify-content: space-between;
  }
  .options button {
    padding: 0.8rem 1.5rem;
    flex: 1;
    text-align: center;
    justify-content: center;
  }
}


@media (max-width: 400px) {
  .options button {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  .options button {
    padding: 0.5rem 0.8rem;

  }
}
