.options-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #474747;
}
/* @media (max-width: 1400px) {
  .title {
  }
} */

.flex-buttons {
  min-height: 4rem;
  height: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1400px) {
  .flex-buttons {
    gap: 0.7rem;
  }
}

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 175px;
  border-radius: 40px;
  padding: 0.6rem 0;
  background-color: #ebebeb;
  color: #474747;
}

.imprimir,
.importar,
.agregar {
  cursor: pointer;
  background-color: #F7F7F7;
  font-weight: 400;
  color: #474747;
  transition: 200ms;
}

.agregar-equipo:hover {
  background-color: #B71653;
  color: #FFFFFF;
}
.agregar-equipo:hover img {
  content: url('/assets/svg/agregar-equipo-hover.svg');
}

.imprimir-equipo:hover {
  background-color: #B71653;
  color: #FFFFFF;
}
.imprimir-equipo:hover img {
  content: url('/assets/svg/imprimir-etiquetas-hover.svg');
}

.svg {
  max-width: 2.5rem;
}

.size-modal {
  min-width: 100%;
  min-height: 100%;
}
