.options-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2.25rem;
  color: #474747;
}
@media (max-width: 1400px) {
  .title {
    font-size: 1.7rem;
  }
}

.flex-buttons {
  min-height: 4rem;
  height: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}
@media (max-width: 1400px) {
  .flex-buttons {
    gap: 0.7rem;
  }
}

.inner-button {
  all: unset;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 25px;
  padding: 0.6rem 3rem;
  background-color: #ebebeb;
  color: #474747;
}
@media (max-width: 1400px) {
  .inner-button {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
  }
}
.imprimir,
.importar {
  cursor: pointer;
}

.agregar-equipo {
  background-color: #b71653;
  color: #ffffff;
}
.agregar-equipo:hover {
  cursor: pointer;
}
.agregar-equipo-disabled {
  color: #bababa;
  cursor: default;
}

.svg {
  max-width: 2.5rem;
  margin-right: 0.5rem;
}

.form-crear-cliente {
  min-width: 100%;
  min-height: 100%;
}
