<div class="options-flex">
  <h2 class="title">Listado de equipos</h2>
  <div class="flex-buttons">
    <button id="inprimir-equipos-button" class="option-button disabled-button" disabled (click)="abrirModalImprimirEtiqueta()">
      <img id="imprimir-equipos-image" src="/assets/svg/imprimir-etiquetas-disabled.svg" class="svg" alt="imprimir-etiquetas.svg">
      <img style="display: none;" src="/assets/svg/imprimir-etiquetas-hover.svg">
      <span>Imprimir etiqueta</span>
    </button>
    <button class="option-button importar">
      <img src="/assets/svg/importar.svg" class="svg" alt="importar_svg">
      <span>Importar datos</span>
    </button>
    <button id="agregar-button" disabled (click)="abrirModalCrearEquipo()" class="option-button">
      <img id="agregar-image" src="/assets/svg/agregar-equipo-disabled.svg" class="svg" alt="agregar-equipo.svg">
      <img style="display: none;" src="/assets/svg/agregar-equipo-hover.svg">
      <span>Añadir equipos</span>
    </button>
  </div>
</div>

<shared-crear-equipo class="size-modal"
*ngIf="isModalVisibleCrearEquipo"
(cerrarModal)="cerrarModalCrearEquipo()"
(enviarFormulario)="crearEquipos($event)"
></shared-crear-equipo>

<shared-imprimir-etiqueta class="size-modal"
*ngIf="isModalVisibleImprimirEtiqueta"
(cerrarModal)="cerrarModalImprimirEtiqueta()"
[devices]="devices">
</shared-imprimir-etiqueta>
