<div class="options-flex">
  <h1 class="title">Listado de equipos</h1>
  <div class="">
    <button class="options option-imprimir">Imprimir etiqueta</button>
    <button class="options options-datos margin">Importar datos</button>
    <button (click)="abrirModal()" class="options options-datos">Añadir equipos</button>
  </div>
</div>

<shared-crear-equipo class="form-crear-cliente"
*ngIf="isModalVisible"
(cerrarModal)="cerrarModal()"
(enviarFormulario)="crearEquipos($event)"
></shared-crear-equipo>
