<div class="options-flex">
  <h2 class="title">Listado de equipos</h2>
  <div class="flex-buttons" *ngIf="!esCliente">
    <button id="inprimir-equipos-button" class="option-button disabled-button" disabled (click)="abrirModalImprimirEtiqueta()">
      <img id="imprimir-equipos-image" src="/assets/svg/imprimir-etiqueta-disabled.svg" class="svg" alt="imprimir-etiqueta-hover.svg">
      <img style="display: none;" src="/assets/svg/imprimir-etiqueta.svg">
      <span>Imprimir etiqueta</span>
    </button>
    <button id="borrar-equipos-button" class="option-button disabled-button" disabled (click)="borrarEquiposSeleccionados()">
      <img
        id="borrar-equipos-image"
        src="/assets/svg/delete.svg"
        class="svg svg-default"
        alt="eliminar_equipos.svg"
      >
      <img
        id="borrar-equipos-image-hover"
        src="/assets/svg/delete-hover.svg"
        class="svg svg-hover"
        alt="eliminar_equipos_hover.svg"
      >
      <span>Borrar</span>
    </button>
    <button
      class="option-button importar"
      [class.disabled-button]="esComercial"
      [attr.disabled]="esComercial ? true : null"
    >
      <img src="/assets/svg/arrowdown.svg" class="svg" alt="importar_svg">
      <span>Importar datos</span>
    </button>
    <button id="exportar-equipos-button" class="option-button exportar" (click)="exportarEquiposListado()">
      <img src="/assets/svg/arrowup.svg" class="svg" alt="exportar_equipos.svg">
      <span>Exportar</span>
    </button>
    <button id="generar-informe-button" class="option-button exportar" (click)="generarInformeEquiposListado()">
      <img src="/assets/svg/informe.svg" class="svg" alt="generar_informe.svg">
      <span>Generar informe</span>
    </button>
    <button id="agregar-button" disabled (click)="abrirModalCrearEquipo()" class="option-button">
      <img id="agregar-image" src="/assets/svg/agregar-equipo-disabled.svg" class="svg" alt="agregar-equipo.svg">
      <img style="display: none;" src="/assets/svg/agregar-equipo-hover.svg">
      <span>Anadir equipo</span>
    </button>
  </div>
</div>

<shared-crear-equipo class="size-modal"
*ngIf="isModalVisibleCrearEquipo"
(cerrarModal)="cerrarModalCrearEquipo()"
(enviarFormulario)="crearEquipos($event)"
[habilitarArriendo]="clienteTieneArriendo"
></shared-crear-equipo>

<shared-imprimir-etiqueta class="size-modal"
*ngIf="isModalVisibleImprimirEtiqueta"
(cerrarModal)="cerrarModalImprimirEtiqueta()"
[devices]="devices">
</shared-imprimir-etiqueta>
