/* Header side menu */
.menu {
  position: fixed;
  flex-grow: 1;
  min-height: 100vh;
  padding-top: 25px;
  border-right: 1px solid #f5e6f1;
  display: flex;
  flex-direction: column;
  width: 22rem;
}
.logo {
  height: 10rem;
  margin: 0 auto 4rem auto;
}
@media (max-width: 1400px) {
  .logo {
    height: 7.5rem;
    margin: 0 auto 2rem auto;
  }
}
@media (max-width: 1400px) {
  .menu {
    width: 15.5rem;
  }
}
/* Fin del header */


.item-nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding:  10px 10px;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subItem-nav {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.4s linear, margin 0.6s ease-out;
  opacity: 0;
  margin-left: 30px;
}

.item-nav.active.open img,
.item-nav.active.open + .subItem-nav{
    display: block;
}

.item-nav.active.open + .subItem-nav {
  max-height: 500px;
  margin: 20px 0px 20px 30px;
  opacity: 1;
}

.subItem-route{
  display: grid;
  grid-template-columns: 20% 20% 60%;
  align-items: center;
}

.menu-svg {
  max-height: 25px;
  fill: #b71752;
}

@media (max-width: 1400px) {
  .menu-svg {
    max-height: 20px;
  }
}

.a-color {
  color: #b6b7b7;
  font-size: 1.4rem;
}

@media (max-width: 1400px) {
  .a-color {
    font-size: 1.2rem;
  }
}

@keyframes open-subItem{
  from {
      height: 100%;
  } to {
      height: 0px;
  }
}

.subItem-nav{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.4s linear;
}

.item-nav.active .selected-div {
  display: block;
}

.item-nav.active + .subItem-nav{
  max-height: 300px;
  opacity: 1;
}

.height-subItem {
  min-height: 5rem;
}

.height-subItem a {
  min-height: 5rem;
}

/* URL No seleccionada */
.background-color {
  background-color: #f8e2ea;
}

/* URL Seleccionada */
.selected-div {
  display: none;
  position: absolute;
  width: 6px;
  color: white;
  height: 5rem;
  background-color: #b71752;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.text-color a p {
  font-weight: 600;
  color: #b71752;
}
