p {
  margin: 0;
}

.logo {
  height: 10rem;
  margin: 0 auto 4rem auto;
}

.menu {
  position: fixed;
  flex-grow: 1;
  min-height: 100vh;
  padding-top: 25px;
  border-right: 1px solid #f5e6f1;
  display: flex;
  flex-direction: column;
  width: 22rem;
}

.route-actived{
  display: none;
  position: absolute;
  width: 6px;
  color: white;
  height: 5rem;
  background-color: #b71752;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.background-color {
  background-color: #f8e2ea;
}

.text-color a p {
  color: #b71752;
}

.left-div-center {
  display: flex;
  align-items: center;
  min-height: 5rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.left-div-end {
  height: 5vh;
  display: flex;
  justify-content: end;
}

.flex-menu {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: auto;
  margin-bottom: 2rem;
}

.a-routerlink {
  /* max-height: 0px; */
  /* overflow: hidden; */
  margin-left: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.a-routerlink.open{
  max-height: fit-content;

}

.menu-svg {
  max-height: 25px;
  fill: #b71752;
}

.a-color {
  color: #b6b7b7;
  font-weight: 500;
}

.subItem-nav{
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.4s linear;
}

.left-div-center.active .route-actived{
  display: block;
}

.left-div-center.active + .subItem-nav{
  max-height: 300px;
  opacity: 1;
}

.height-subItem {
  min-height: 5rem;
}

.height-subItem a {
  min-height: 5rem;
}
