<div class="menu" style="background-color: #f7f7f7;">
  <!-- Logo Siroe -->
  <div class="logo">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="../../../assets/img/siroe-logo.png" alt="siroe_logo" class="logo">
    </a>
  </div>

  <div class="flex-menu open-300">

    <div class="flex">
      <!-- Item Sidebar -->
      <div *ngFor="let item of sideMenuJSON;">

        <div class="left-div-center" [ngClass]="{'active background-color text-color': currentGroup == item.ruta}">
          <div class="route-actived"></div>
          <a [routerLink]="[item.ruta]" [ngClass]="{'open': activeGroup(item.ruta)}" (click)="routeActive($event, item.ruta)" routerLinkActive="router-link-active" class="a-routerlink">
            <img [src]="'/assets/svg/'+item.svg+(currentGroup.includes(item.ruta) ? '-routed' : '')+'.svg'" [alt]="item.svg+'_SVG'" class="menu-svg">
            <p class="a-color">{{ item.nombre }}</p>
          </a>
        </div>

        <div class="subItem-nav">
          @for(subItem of item.subGrupo; track subItem){
            <a [routerLink]="subItem.ruta" [ngClass]="{'active': currentSubGroup == subItem.ruta}" class="a-routerlink a-color" (click)="activeSubGroup(subItem.ruta)">
              <div class="bar-progress"></div>
              <p class="subItem-text color-white">{{subItem.nombre}}</p>
            </a>
          }
        </div>
      </div>
    </div>

    <div class="flex">
      <div *ngFor="let item of sideLogoutMenuJSON; let i = index">
        <div class="left-div-center" [ngClass]="{'active background-color text-color': currentGroup == item.ruta}">
          <!-- Logout Sidebar -->
          <div class="route-actived"></div>
          <a [routerLink]="[item.ruta]" [ngClass]="{'open': activeGroup(item.ruta)}" (click)="routeActive($event, item.ruta)" routerLinkActive="router-link-active" class="a-routerlink">
            <img [src]="'/assets/svg/'+item.svg+(currentGroup.includes(item.ruta) ? '-routed' : '')+'.svg'" [alt]="item.svg+'_SVG'" class="menu-svg">
            <a class="a-color">{{ item.nombre }}</a>
          </a>
        </div>
      </div>
    </div>


  </div>
</div>
