<div class="information-grid">
  <div class="title">
    <h2 *ngIf="sucursal" class="header-title">
      {{ sucursal.sucursal }}
    </h2>
    <h2 *ngIf="!sucursal" class="temp-title header-title">
      Cargando información...
    </h2>
    <h2 class="header-direccion">{{ sucursal?.direccion | titlecase }}</h2>
  </div>
  <div class="grid-body-container">
    <div class="grid-body">
      @if(sucursal) {
      <img
        *ngIf="
          sucursal.casaMatriz.imagen | signedUrl | async as signedUrl;
          else Loading
        "
        class="logo"
        [src]="signedUrl"
        [alt]="sucursal.casaMatriz.imagen"
      />
      <ng-template #Loading>
        <div class="spinner-images spinner-size-images"></div>
      </ng-template>
      } @else {
      <div class="spinner-images spinner-size-images"></div>
      }

      <div class="flex" id="encargadoSucursal">
        <p class="information-title">
          Encargado Sucursal: <span>{{ sucursal?.encargadoSucursal }}</span>
        </p>
      </div>
      <div class="flex" id="razonSocial">
        <p class="information-title">
          Razón Social: <span>{{ sucursal?.casaMatriz?.razonSocial }}</span>
        </p>
      </div>

      <div class="flex" id="encargadoGeneral">
        <p class="information-title">
          Encargado General:
          <span>{{ sucursal?.casaMatriz?.encargadoGeneral }}</span>
        </p>
      </div>

      <div class="flex" id="telefonoCasaMatriz">
        <p class="information-title">
          Fono: <span>{{ sucursal?.casaMatriz?.telefonoEncargado }}</span>
        </p>
      </div>
      <div class="flex" id="telefonoSucursal">
        <p class="information-title">
          Fono Sucursal: <span>{{ sucursal?.telefonoSucursal }}</span>
        </p>
      </div>
      <div class="flex" id="rut">
        <p class="information-title">
          RUT Cliente: <span>{{ sucursal?.casaMatriz?.rut }}</span>
        </p>
      </div>
      <div class="flex" id="correoCasaMatriz">
        <p class="information-title">
          Correo: <span>{{ sucursal?.casaMatriz?.correo }}</span>
        </p>
      </div>
      <div class="flex" id="serviciosCasaMatriz">
        <p class="information-title">
          Servicios:
          <span>
            {{
              sucursal?.casaMatriz?.servicios?.length
                ? sucursal?.casaMatriz?.servicios?.join(', ')
                : 'Sin servicios registrados'
            }}
          </span>
        </p>
      </div>
      <div class="flex" id="correoSucursal">
        <p class="information-title">
          Correo Sucursal: <span>{{ sucursal?.correoSucursal }}</span>
        </p>
      </div>
      <div class="flex" id="id">
        <p class="information-title">
          ID Cliente: <span>{{ sucursal?.id }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
