.information-grid {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 17rem;
  max-height: 17rem;
  gap: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 35px;
  padding: 2rem 3rem;
  border: 1px solid #eaeaea;
}
@media (max-width: 1400px) {
  .information-grid {
    padding: 1.5rem 2rem;
  }
}

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 18% 40% 17.5% 17.5%;
  align-items: center;
}

.header-title {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2rem;
  color: #474747;
}
@media (max-width: 1400px) {
  .header-title {
    font-size: 1.7rem;
  }
}

.header-direccion {
  grid-column-start: 3;
  grid-column-end: 5;
  font-size: 2rem;
  font-weight: 400;
}
@media (max-width: 1400px) {
  .header-direccion {
    font-size: 1.7rem;
  }
}

.grid-body {
  display: grid;
  min-width: 100%;
  grid-template-columns: 22% 36% 21% 21%;
}
@media (max-width: 1400px) {
  .grid-body {
    grid-template-columns: 18% 32% repeat(2, 25%);
  }
}

.logo {
  max-width: 100%;
  max-height: 10rem;
  padding: 1rem;
  margin: auto;
  object-fit: cover;
}

.information-flex {
  display: flex;
  height: 100%;
  padding: 0.5rem 0;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.information-title {
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  color: #474747;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1400px) {
  .information-title {
    font-size: 1.1rem;
  }
}
.flex h1 span {
  color: #474747;
  margin-left: 0.6rem;
  width: calc(100% - 0.6rem);
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1400px) {
  .flex h1 span {
    display: block;
    font-size: 1.1rem;
  }
}
