<div class="header-flex">
  <h1 class="header-title">Farmacias Similares S.A. | Sucursal Maipú</h1>

  <div class="information-grid">
    <div class="information-flex">
      <div class="flex">
        <h1 class="information-title">Razón Social:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">RUT:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">ID Cliente:</h1>
        <p>xxxx</p>
      </div>
    </div>

    <div class="information-flex">
      <div class="flex">
        <h1 class="information-title">Encargado general:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">Correo:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">Teléfono encargado:</h1>
        <p>+569 xxxx xxxx</p>
      </div>
    </div>

    <div class="information-flex">
      <div class="flex">
        <h1 class="information-title">Encargado sucursal:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">Correo:</h1>
        <p>xxxx</p>
      </div>
      <div class="flex">
        <h1 class="information-title">Teléfono encargado: </h1>
        <p>+569 xxxx xxxx</p>
      </div>
    </div>

    <div class="information-flex">
      <div class="flex">
        <h1 class="information-title">Sucursal:</h1>
        <p>Maipú</p>
      </div>
      <div class="flex">
        <h1 class="information-title">Dirección: </h1>
        <p>Av. Pajaritos #111, Maipú</p>
      </div>
    </div>


  </div>
</div>
