
<div class="clients">
  <div class="div-header">
    <h1 class="title">Mostrar listado de clientes</h1>
      <button (click)="abrirModal()" class="crear-cliente">Crear cliente</button>
  </div>
  <div class="grid-clients">
    <div *ngFor="let item of clients; let i = index" class="card-clients">
      <div class="card-header">
        <h1 class="card-title">{{item.razonSocial}}</h1>
      </div>
      <div class="card-body">
        <div class="card-body-flex">
          <div class="card-body-photo"></div>
          <div class="card-body-information">
            <p>Razón social: <span>{{item.razonSocial}}</span></p>
            <p>RUT: <span>{{item.rut}}</span></p>
            <p>Encargado General: <span>{{item.encargadoGeneral}}</span></p>
            <p>Correo: <span>{{item.correo}}</span></p>
            <p>Teléfono Encargado: <span>{{item.telefonoEncargado}}</span></p>
            <a [routerLink]="['/cliente', item.id]" routerLinkActive="router-link-active" class="card-body-button">Seleccionar cliente</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<shared-crear-cliente class="form-crear-cliente"
*ngIf="isModalVisible"
(cerrarModal)="cerrarModal()"
(enviarFormulario)="crearCliente($event)"
></shared-crear-cliente>
