.clients {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  min-height: 75vh;
}
@media (max-width: 1400px) {
  .clients {
    padding: 2rem;
    gap: 1rem;
  }
}

.grid-clients {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 1400px) {
  .grid-clients {
    gap: 1.5rem;
  }
}

.card-clients {
  position: relative;
}

.card-body {
  min-height: 18rem;
  max-height: 18rem;
  background-color: #f7f7f7;
  border-radius: 15px;
  border: 1px solid #ebebea;
  display: grid;
  grid-template-columns: 25% 75%;
}
@media (max-width: 1400px) {
  .card-body {
    padding: 1.5rem;
    grid-template-columns: 25% 75%;
  }
}

.logo {
  max-height: 9rem;
  padding: 0 2.5rem;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.card-information {
  display: grid;
  grid-template-columns: 55% 25% 20%;
  padding: 3.5rem 1rem;
}

.information {
  display: flex;
  height: 100%;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}
.information p {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: 1400px) {
  .information p {
    font-size: 1.2rem;
  }
}
.information p span {
  font-weight: 400;
}

.button {
  padding: 0.75rem 1.5rem;
  margin: 0 auto auto auto;
  border: 1px solid #4f4f4f;
  border-radius: 25px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #474747;
  transition: 350ms;
}
@media (max-width: 1400px) {
  .button {
    font-size: 1.1rem;
  }
}
.button:hover {
  color: #f7f7f7;
  background-color: #b71752;
}

.crear-cliente {
  all: unset;
  display: block;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border: 1px solid #4f4f4f;
  text-align: center;
  margin-top: 0.8rem;
  border-radius: 25px;
  color: #4f4f4f;
  transition: 300ms;
}

.crear-cliente:hover {
  cursor: pointer;
  background-color: #474747;
  color: #f7f7f7;
}

.form-crear-cliente {
  min-width: 100%;
  min-height: 100%;
}

.div-spinner-clients {
  position: relative;
  height: 75vh;
}

.navegation-section {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
