<div class="login-page">
  <div class="form-layout">
    <img [src]="loginLogo" [alt]="brand.appTitle + ' logo login'" class="img-logo">
    <div></div>
    <div *ngIf="errorMessage" class="error-header error">
      Correo electrónico o contraseña incorrecta, intente nuevamente.
    </div>
    <form [formGroup]="loginForm" (submit)="postLogin()" class="form-gap">
      <div class="flex-input margin-bottom">
        <label for="" class="mb-5">Correo electronico:</label>
        <input formControlName="email" type="email" name="email" placeholder="correo@siroe.cl">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
          Correo electronico invalido.
        </div>
      </div>
      <div class="flex-input">
        <label for="" class="mb-5">Contraseña:</label>
        <input formControlName="password" type="password" autocomplete="password" name="password" placeholder="contraseña">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Contraseña invalida.
        </div>
      </div>
      <button *ngIf="!logging" style="margin-top: 1.8rem;" [disabled]="loginForm.invalid" type="submit" [ngClass]="{'invalid-form': loginForm.invalid, 'valid-form': loginForm.valid}" class="btn">Iniciar sesión</button>
      <button *ngIf="logging" style="margin-top: 1.8rem;" class="btn"><div class="spinner-buttons spinner-size-buttons spinner-color"></div></button>
    </form>
  </div>
</div>
