.modal-content {
  background-color: var(--color-surface-alt);
  border-radius: 2rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.colaborador {
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-text);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.svg {
  height: 15px;
}

.modify-or-delete-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background-color: #EBEBEB;
  height: 30px;
  width: 150px;
  border-radius: 50px;
  transition: 300ms;
}
.modify-or-delete-button:hover {
  color: var(--color-surface-alt);
  cursor: pointer;
  background-color: var(--color-primary);
}
