.navegation {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1.5rem 0;
}

button {
  all: unset;
  font-weight: 400;
  font-size: 1.7rem;
  color: #474747;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media (max-width: 1400px) {
  button {
    font-size: 1.15rem;
  }
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.active {
  font-weight: bold;
  background-color: #b71653;
  border-radius: 10px;
  color: white;
}

.flex-prev-next {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrow-svg {
  height: 14px;
}
