.navegation {
  display: flex;
  gap: 0.5rem;
  padding: 0 4rem;
  justify-content: end;
  align-items: center;
  color: #4f4f4f;
  font-weight: 700;
  font-size: 1.6rem;
}


a {
  color: #4f4f4f;
  padding: 0 1.2rem;
}

.flex-a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-a p {
  margin: 0;
}

.arrow-svg {
  height: 14px;
}
