.navegation {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 1.5rem 0;
}

button {
  font-weight: 400;
  color: #474747;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
/* @media (max-width: 1400px) {
  button {
  }
} */

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button.active {
  font-weight: bold;
  background-color: #b71653;
  border-radius: 10px;
  color: white;
}

.flex-prev-button {
  display: flex;
  align-items: center;
  padding-left: 0;

}

.flex-next-button {
  display: flex;
  align-items: center;
  padding-right: 0;
}

.arrow-svg {
  height: 1rem;
}

.hidden {
  display: none;
}

.prev-arrow {
  padding-right: 0.7rem;
}
.next-arrow {
  padding-left: 0.7rem;
}
