<div class="navegation">
  <button class="flex-prev-next" (click)="nextPage()" [disabled]="paginaActual <= 1">
    <img src="/assets/svg/arrow-left.svg" alt="arrow_l_svg" class="arrow-svg">
    <span>Anterior</span>
  </button>

  <button *ngFor="let pagina of getPaginaArray()"
  (click)="cambiar(pagina)"
  [class.active]="pagina === paginaActual" [disabled]="paginaActual == pagina">{{pagina}}</button>

  <button class="flex-prev-next" (click)="nextPage()" [disabled]="paginaActual >= paginas">
    <span>Siguiente</span>
    <img src="/assets/svg/arrow-right.svg" alt="arrow_r_svg" class="arrow-svg">
  </button>
</div>
