<div class="navegation">
  <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="flex-a">
    <img src="/assets/svg/arrow-left.svg" alt="arrow_l_svg" class="arrow-svg">
    <p>Anterior</p>
  </a>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >1</a>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >2</a>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >3</a>
  <a [routerLink]="['/']" routerLinkActive="router-link-active" >4</a>
  <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="flex-a">
    <p>Siguiente</p>
    <img src="/assets/svg/arrow-right.svg" alt="arrow_r_svg" class="arrow-svg">
  </a>
</div>
