<section class="main-grid">
  @if(cliente){
    <img *ngIf="cliente.imagen | signedUrl | async as signedUrl; else loading" class="logo" [src]="signedUrl" [alt]="cliente.imagen">
    <ng-template #loading>
      <div #loading class="spinner-images spinner-size-images"></div>
    </ng-template>
  } @else {
    <div #loading class="spinner-images spinner-size-images"></div>
  }
  <div class="flex-column">
    <h2 *ngIf="cliente" class="casa-matriz">{{ cliente.razonSocial }}</h2>
    <h2 *ngIf="!cliente" class="temp-title casa-matriz">Cargando cliente...</h2>

        <div class="information">
          <p>Razón Social: <span>{{ cliente?.razonSocial }}</span></p>
        </div>

        <div class="information">
          <p>Encargado: <span>{{ cliente?.encargadoGeneral }}</span></p>
        </div>

        <div class="information">
          <p>RUT Cliente: <span>{{ cliente?.rut }}</span></p>
        </div>

        <div class="information">
          <p>Teléfono: <span>{{ cliente?.telefonoEncargado }}</span></p>
        </div>

        <div class="information">
          <p>ID Cliente: <span>{{ cliente?.id}}</span></p>
        </div>

        <div class="information">
          <p>Correo: <span>{{ cliente?.correo }}</span></p>
        </div>

  </div>

</section>
