<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="header-form">Gestionar sucursal</h2>
      <img src="/assets/svg/exit-button.svg" (click)="cerrar()" alt="exit_button" class="close-button">
    </div>
    <div class="modal-body">
      <h2 class="colaborador">{{ sucursal?.sucursal }}</h2>
      <p class="description-form" style="text-align: center;">Elige si deseas modificar o eliminar la sucursal.</p>

      <div class="buttons">
        <!-- Botones Eliminar -->
        <button *ngIf="!deleting" (click)="onSubmit()" class="modify-or-delete-button" type="submit">
          <img src="/assets/svg/delete.svg" alt="delete.svg" class="svg">
          <span>Eliminar sucursal</span>
        </button>
        <button *ngIf="deleting" class="modify-or-delete-button" type="submit"><div class="spinner-buttons spinner-size-buttons spinner-color"></div></button>

        <button (click)="abrirModModal()" class="modify-or-delete-button" type="submit">
          <img src="/assets/svg/agregar-datos.svg" alt="agregar-datos.svg" class="svg">
          <span>Editar sucursal</span>
        </button>
      </div>
    </div>
  </div>
</div>
