.modal-content {
  background-color: #f7f6f6;
  border-radius: 2rem;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}
@media (max-width: 1400px) {
  .modal-content {
    margin: 5rem 0;
  }
}

.header-span {
  font-weight: 400;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 15px;
}

.full-width {
  width: 100%;
}

.form-group:not(.full-width) {
  grid-column: span 1;
}

.form-group.full-width {
  grid-column: span 2;
}

.svg {
  height: 15px;
  margin-right: 3px;
}

.comments {
  resize: none;
  grid-column: 1 / 2;
  box-sizing: border-box;
}
.comments::placeholder {
  color: #d9d9d9;
}

.form-group input::placeholder {
  color: #d9d9d9;
}

.loader-height {
  min-height: 20rem;
}

.inputs {
  min-width: 100%;
}
